<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GoodStuffs | Edit Account Info</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'ecommerce/css/general.css' %}" />
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <a href="/" class="navbar-brand d-flex w-50 mr-auto">GoodStuffs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                    <!-- Check if user is logged in -->
                    {% if not request.session.userid %}
                    <a href="/login">Login</a>
                    <span> | </span>
                    <a href="/create-acct">Create Account</a>
                    {% else %}
                    <!-- Check if user is admin or customer -->
                    {% if request.session.user_type == 1 %}
                    <span>Welcome back, {{ request.session.first_name }}!</span>
                    <p>Admin Priviledges:
                        <br />
                        <a href="/admin/orders">Orders</a>
                        <span> | </span>
                        <a href="/admin/products">Products</a>
                        <span> | </span>
                        <a href="/admin/users">All Accounts</a>
                        <span> | </span>
                        <a href="/logout">Logout</a>
                    </p>
                    {% else %}
                    <span>Welcome, {{ request.session.first_name }}!</span>
                    <p><a href="/logout">Logout</a>
                        <span> | </span>
                        <a href="/account/{{ request.session.userid }}">My Account</a>
                        <br />
                        <a href="/categories">View Products</a>
                        {% endif %}
                        {% endif %}
                </li>
            </ul>
        </div>
    </nav>
    </ul>
    </div>
    </nav>

    <section class="container">
        <form action="">
            <label for="first_name">First Name</label>
            {{user.first_name}}
            <input type="text" name="first_name" value= {{ user_info.first_name }}>
        </form>
    </section>
</body>

</html>