<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GoodStuffs | Login</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'ecommerce/css/general.css' %}" />
    <script src="main.js"></script>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <a href="/" class="navbar-brand d-flex w-50 mr-auto">GoodStuffs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <!-- Check if user is logged in -->
                {% if not request.session.userid %}
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/create-acct" class="nav-link">Create Account</a>
                </li>
                {% else %}
                <!-- Check if user is admin or customer -->
                {% if request.session.user_type == 1 %}
                <li class="nav-item">
                    <P>Admin Portal: </P>
                </li>
                <li class="nav-item">
                    <a href="/admin/orders" class="nav-link">Orders</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/products" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/users" class="nav-link">All Accounts</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="navbar-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
                <li class="navbar-item">
                    <a href="/account/{{ request.session.userid }}" class="nav-link">My Account</a>
                </li>
                <li class="navbar-item">
                    <a href="/categories">Categories</a>
                </li>
                {% endif %}
                {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    <!-- main content -->
    <div class="container">
        <h2>Edit Product Details: {{ edit_product.name }}</h2>
        <form action="/admin/product/edit/{{edit_product.id}}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Display name of product"
                    name="name" value={{ edit_product.name }}>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Product description"
                    name="description" value={{ edit_product.description }}>
            </div>
            <div class="form-group">
                <label for="Price">Price</label>
                <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Ex. $19.99" name="price"
                    value={{ edit_product.price }}>
            </div>
            <div class="form-group">
                <label for="Price">Inventory</label>
                <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Ex. $19.99" name="inventory"
                    value={{ edit_product.inventory }}>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="custom-select" name="category">
                    <option value="">Select from options:</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Accessories">Accessories</option>
                    <option value="Food & Drink">Food & Drink</option>
                    <option value="Home & Kitchen">Home & Kitchen</option>
                    <option value="Pet Supplies">Pet Supplies</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Books">Books</option>
                </select>
            </div>
            <div class="form-group">
                <label for="image">Add Image (URL): </label>
                <input type="text" class="form-control" name="img-url" value={{ edit_product.image }}>
            </div>
            <input type="submit" value="Edit Product" class="btn btn-primary">
        </form>
        {% if messages %}
        <h3>Oops!</h3>
        <p>There was a problem with the form:</p>
        {% for i in messages %}
        <ul>
            <li>{{ i }}</li>
        </ul>
        {% endfor %}
        {% endif %}
    </div>
</body>

</html>