<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GoodStuffs | Login</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'ecommerce/css/general.css' %}" />
    <script src="{% static 'ecommerce/scripts/product.js' %}"></script>

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <a href="/" class="navbar-brand d-flex w-50 mr-auto">GoodStuffs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                    <!-- Check if user is logged in -->
                    {% if not request.session.userid %}
                    <a href="/login">Login</a>
                    <span> | </span>
                    <a href="/create-acct">Create Account</a>
                    {% else %}
                    <!-- Check if user is admin or customer -->
                    {% if request.session.user_type == 1 %}
                    <span>Welcome back, {{ request.session.first_name }}!</span>
                    <p>Admin Priviledges:
                        <br />
                        <a href="/admin/orders">Orders</a>
                        <span> | </span>
                        <span>Products</span>
                        <span> | </span>
                        <a href="/admin/customers">Customer List</a>
                        <span> | </span>
                        <a href="/logout">Logout</a>
                    </p>
                    {% else %}
                    <span>Welcome, {{ request.session.first_name }}</span>
                    <p><a href="/categories"></a></p>
                    {% endif %}
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>

    <!-- main content -->
    <div class="container">
        <div class="d-flex justify-content-between">
            <h1 class="text-center">All Products</h1>
            <button href="#" class="btn btn-secondary">Add new product</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Inventory</th>
                    <th>Quantity Sold</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in all_products %}
                <tr>
                    <th>{{ product.id }}</th>
                    <th>{{ product.name }}</th>
                    <th>{{ product.description }}</th>
                    <th>{{ product.inventory }}</th>
                    <th>{{ product.quantity_sold }}</th>
                    <th>{{ product.category }}</th>
                    <th>
                        <button class="btn btn-primary btn-xs">Edit</button>
                        <button class="btn btn-primary btn-xs">Delete</button>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</html>